

body {
    /* Box-model */
    padding: 0;
  
    /* Positioning */
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
  
    /* Typography */
    font-size: 14px;
    line-height: 150%;
    color: #333;
  
    /* Visual */
    background: #efeee7;
  }
  
  header {
    background: #d21034;
  }
  
  h1 {
 
  
    /* Positioning */
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
  
    /* Typography */
    color: rgb(16, 50, 240);
    text-align: left;
  
    /* Visual */
    
  }
  
  h2 {
    font-size: 24px;
  }
  
  a {
    color: rgb(16, 50, 240);
  }
  
  .container {
    /* Box-model */
    width: 1024px;
  
    /* Positioning */
    margin: 0 auto;
  }
  
  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #main-bio {
    width: 70%;
  }
  
  #contact-info {
    width: 30%;
  }
  
  #bio-image {
    /* Box-model */
    width: 200px;
    height: 200px;
  
    /* Positioning */
  
    margin-right: 20px;
  }
  .wrapper{
    margin-left:100px;
    margin-right:100px;

  }

.button {
    background-color: rgb(16, 50, 240); 
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
  }

  footer {
    padding-top: 20px;
    border-top: 5px solid  rgb(16, 50, 240);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 0;
    
}

